{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 100%;
      text-align: center;

    }
    
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    .container {
      padding: 2px 16px;
    }





.title {
  color: black;
  font-size: 18px;
}

button2 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

</style>
<br>
  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p>Okpella is a clan situated along Benin-Abuja federal high way. Going by the last National Census figures, it has the population of 500,000,<br> and is one of the three main towns that make up Etsako East Local Government Area of Edo State. Okpella is known for its natural sedimentary rock based mineral resources, which include limestone, calcium, and granite, feldspar, talc, clay, marble, etc.
      The Late Clan Head, Andrew Yesufu Eshioramhe Dirisu who reigned for 48 years came from Ogute Sub-Clan.<br>
      During colonial rule, arising out of personality clashes between Chief Sado who was the statutory Clan Head <br>of OKPELLA clan and Afegbua, the clan was sub-divided into two, namely Ogute and Oteku as sub-clans. While the Ogute sub-clans has prominent villages like Ogute, Imiekuri etc, Oteku sub-clan has two villages, Iddo and Komunio; both plays host to Bua Cement Company Plc and Dangote Group of Company Plc. Okpella was the District Head of the then Kabba Province.
    </p>
  </div>

  <div class="w3-row-padding w3-grayscale">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Leaders</h3>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for about in abouts %}
    
<div class="col">
    <div class="card h-100">
        <img height="350px" src="{{about.image.url}}" alt="Avatar" class="card-img-top" >
        <div class="card-body" style="text-align: left;">
          <h5><b><span class="font-effect-shadow-multiple">Name:</span> <span style="color: blue	;">{{about.name}}</span></b></h5> 
          <h5><b><span class="font-effect-shadow-multiple">Position:</span> <span style="color: blue;">{{about.position}}</span></b></h5> 
          <h5><b><span class="font-effect-shadow-multiple">Phone Number:</span> <span style="color: blue;">{{about.phone_number}}</span></b></h5> 
          <h5><b><span class="font-effect-shadow-multiple">Email:</span>  <span style="color: blue;">{{about.email}}</span></b></h5> 
                        
        </div>

      </div>
    </div>
    {% endfor %}
    
</div>

<br>
<br>
</div>
{% endblock  %}