{% extends 'base.html' %}
{% load static %}
{% block content  %}
<style>

	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	  }

	 
</style>
{% if user.image %}
<br><br>
<section class="section-content padding-y bg" style="background-color: teal">
	
	<div class="container">
	<div class="card mb-3 center" style="max-width: 2000px;   overflow: auto;">
		<div class="row g-0">
		  <div class="col-md-4">
			<img height="515px" width="100%" src="{{user.image.url}}" class=" " alt="...">
		  </div>
		  <div class="col-md-8">
			<div class="card-body">
			  <h2 class="card-title" style="color: #36454F; font-family: Sans-serif;" > <span style="font-family: Georgia; color: #191970;   text-shadow: 3px 3px 3px #ababab;">Name:</span> {{user.first_name}} {{user.last_name}} </h2>
			  <br>

<h5 class="card-title" style="color: #36454F	; font-family: Sans-serif;"><span style="font-weight: 900; font-family: Georgia; color: #191970;   text-shadow: 3px 3px 3px #ababab;">Status: </span> {{user.status}} </h5>
<br>
<h5 class="card-title" style="color: #36454F; font-family: Sans-serif;"><span style="font-weight: 900; font-family: Georgia ; color: #191970;  text-shadow: 3px 3px 3px #ababab;">Phone:</span> {{user.phone_number}} </h5>
<br>

<h5 class="card-title" style="color: #36454F; font-family: Sans-serif;"> <span style="font-weight: 900; font-family: Georgia; color: #191970;   text-shadow: 3px 3px 3px #ababab;">Disicipline:</span> {{user.discipline}} </h5>
<br>

<h5 class="card-title" style="color: #36454F; font-family: Sans-serif;"><span style="font-weight: 900; font-family: Georgia; color: #191970;  text-shadow: 3px 3px 3px #ababab;">Email:</span> {{user.email}} </h5>
<br>

<h5 class="card-title" style="color: #36454F; font-family: Sans-serif;"><span style="font-weight: 900; font-family: Georgia; color: #191970;   text-shadow: 3px 3px 3px #ababab;">NYSC Batch:</span> {{user.category}} </h5>
<hr>
<h5 class="font-effect-shadow-multiple">Place of Primary Assignment</h4>


<h3 style="font-weight: 900; font-family: Georgia; color: #004225">{{user.PPA}} </h3>
	<hr>
	<a href="{% url 'home' %}" class="btn  btn-primary"> <span class="text">< Back</span> <i class="fas fa-shopp"></i>  </a>
 			</div>
		  </div>
		</div>
	</div>
	  </div>

	  


</div> 
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endif %}
{% endblock  %}