{% extends 'Loginportal.html' %}
{% load static %}
{% block content %}



<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="card mx-auto" style="border-radius: 1rem; width:480px; margin:auto;">
          <div class="card bg-dark text-white" >
            {% comment %} style=" width:350px; margin: auto; height: 670px"> {% endcomment %}
          <article class="card-body bg-dark  text-white" >
            <img src="https://i.postimg.cc/bvgZkkh4/NYSC-LOGO-svg.png" width="130" height="130" class="center z-depth-0 pol" alt="">
            <header class="mb-4"><h1 style="text-align: center" class="con card-title">Sign up </h1></header>
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
                    <div class="form-row">
                        <div class="col form-group">
                            <label>First name</label>
                            {{ form.first_name }}
                        </div> <!-- form-group end.// -->
                        <div class="col form-group">
                            <label>Last name</label>
                            {{ form.last_name }}
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->
                    <div class="form-row">
                      <div class="col form-group">
                          <label>Your picture</label>
                          {{ form.image }}
                      </div> <!-- form-group end.// -->
                      <div class="col form-group">
                          <label>Phone Number</label>
                          {{ form.phone_number }}
                      </div> <!-- form-group end.// -->
                  </div> <!-- form-row end.// -->
                  <div class="form-row">
                    <div class="col form-group">
                        <label>Email</label>
                        {{ form.email}}
                    </div> <!-- form-group end.// -->
                    <div class="col form-group">
                        <label>Discipline</label>
                        {{ form.discipline }}
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row end.// -->
                    {% comment %} <div class="form-group">
                        <label>Email</label>
                        {{ form.email }}
                        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div> <!-- form-group end.// --> {% endcomment %}
                    <div class="form-group">
                       <label>Gender</label><br>
                       {{ form.gender }}
                    </div> <!-- form-group end.// -->
                    <div class="form-group">
                      <label>Status</label><br>
                      {{ form.status }}
                      
                       </label>
                   </div> <!-- form-group end.// -->
                   <div class="form-group">
                    <label>PPA</label><br>
                    {{ form.PPA }}
                    
                     </label>
                 </div> <!-- form-group end.// -->
                   
                    <div class="form-row">

                        <div class="form-group col-md-6">
                          <label>Username</label>
                          {{ form.username}}
                        </div> <!-- form-group end.// -->
                        <div class="form-group col-md-6">
                          <label>NYSC Batch</label>
                          {{ form.category}}
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row.// -->
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Create password</label>
                            {{ form.password }}
                        </div> <!-- form-group end.// --> 
                        <div class="form-group col-md-6">
                            <label>Confirm Password</label>
                            {{ form.confirm_password }}
                        </div> <!-- form-group end.// -->  
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Register  </button>

                        <p class="text-center mt-4">Have an account? <a href="{% url 'login' %}">Log In</a></p>

                    </div> <!-- form-group// -->      
                        
                </form>
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    
    
    

{% endblock  %}
